.buttons{
    display: flex;
    width: 100%;
    justify-content: space-around;
    
}
a:link,
a:visited,
a:active {
  text-decoration: none;
  color:white
}

@media (max-width:500px){
  .buttons a {
    font-size: small;
  }
}