.container{
    background-color: #dddada8c;
    display: flex;
    justify-content: space-around;
}

.img{
    display: flex;
    align-items: center;
}

.contentF{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contentF span{
    margin:7px 0;
    display: flex;
    align-items: center;
}

.contentF span p{
    margin-left: 10px;
}

.contentF span a{
    color: #0f9bf6;
}

.copy{
    display: flex;
    justify-content: center;
}
