.container {
  display: flex;
  height: 602px;
  flex-direction: column;
}

.slide {
  max-width: 100%;
  height: auto;
  opacity: 0;
  transition: opacity 0.75s ease-in-out;
}

.slide.active {
  opacity: 1;
}

.btnAnt {
  opacity: 0;
  background: linear-gradient(to right, #00000079 0%, transparent 100%);
  border-radius: 5px 0 0 5px;
}

.btnSig {
  left: 1026px;
  opacity: 0;
  background: linear-gradient(to left, #00000079 0%, transparent 100%);
  border-radius: 0 5px 5px 0;
}

.image {
  width: 100%;
  border-radius: 7px;
  height: 600px;
}
